.products, .contact {
  background: var(--second-bg-color--);
  padding: 3rem 10%;
}
.products h2{
  font-size: 2rem;
  padding: 2rem 0 1rem 0;
  text-align: center;
  margin-bottom: 5rem;
}
.product-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-items: center;
  place-content: center;
  gap: 1rem;
}
.card {
  padding: 1rem;
  border: 2px solid var(--second-text-color--);
  text-align: center;
  border-radius: 25px;
  display: block;
  transition: all 0.4s ease;
  z-index: 90;
}
.card:hover {
  cursor: pointer;
  transform: translateY(-7px);
}
.card img {
  width: 150px;
  height: 150px;
  margin-top: -4rem;
  filter: drop-shadow(0 0 0.5rem #1797ff);
}
.card .info .price-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-name span {
  color: var(--third-text-color--);
  font-size: 1.5rem;
  font-family: "Medium";
}
.info {
  padding-bottom: 0.5rem;
}
.info p {
  padding: 0.5rem 0 1.5rem 0;
}
/*! mentiqsiz */
.info .btn {
  display: block;
  width: 60%;
  margin: auto;
}
@media screen and (max-width: 1100px) {
  .product-card {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }
}
@media screen and (max-width: 555px) {
  .product-card {
    grid-template-columns: 1fr;
  }
}
